html {
    font-size: .5vw;
    font-family: sans-serif;
}
body {
    margin: 0;
    display:flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    background: url(img/agenda-blur-close-up-273132.jpg) bottom center;
    background-size: cover;    
}

:root {
    --clockSize: 87vw;
    --clockPadding: 5vw;
}

.clock-outer {
    width: var(--clockSize);
    height: var(--clockSize);
    margin: 5vw auto;
    position: relative;
    padding: var(--clockPadding);
    display: flex;
    align-items: center;
    border-radius: 50%;    
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(128, 128, 128, 0.9));
}

.marker {
    position: absolute;
    left: 50%;
    width: 15px;
    height: 3px;    
    background: white;
    border-radius: 50%;
}

.marker.quarter {
    background: transparent;
    width: 0;
    height: 0;
    border-radius: 0%;
}

.marker.quarter-3 {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid red;
}

.marker.quarter-1 {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid red;
}

.marker.quarter-2 {
	border-top: 10px solid transparent;
	border-left: 20px solid red;
	border-bottom: 10px solid transparent;
}

.marker.quarter-0 {
    border-top: 10px solid transparent;
    border-right: 20px solid red;
    border-bottom: 10px solid transparent;
}

.clock-inner {
    /* clock center circle small */
    width: 18px;
    height: 18px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -9px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-.25vw); /* account for the height of the clock hands */
}

.hand {    
    height: .5vw;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 100%; /* rotate at the very end of the x-axis */
    transform: rotate(90deg);  /* point all hands at 12 o'clock */
    align-content: center;
}

.hand.second {
    background: red;
    width: 40%;
    left: 10%;
    height: .25vw;
}

.hand.minute {
    width: 35%;
    left: 15%;
}

.hand.hour {
    width: 30%;
    left: 20%;
}

.ticker {
    transition: all 0.15s;
    transition-timing-function: cubic-bezier(0, 0.85, 0.32, 2.05);    
}

.credit {
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 2vw;
    font-size: 1.1vw;
}


